---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { SignIn } from '@clerk/astro/components';
---

<Layout title="Anmelden - E-Kinderauto">
	<Header />
	<main class="container mx-auto px-4 py-10">
		<div class="max-w-md mx-auto">
			<SignIn routing="path" path="/sign-in" signUpUrl="/sign-up" />
		</div>
	</main>
</Layout>
